@import '../../../assets/mixins';

section.chat-container {
    @include flex(flex-start, flex-end, column);

    .chat-content {   
        @include flex(flex-start, flex-end, row, no-wrap);
        margin: 2.5rem;
        width: 50%;
    
        .chat-card {
            background-color: #ffffffd9;
        }
    
        .chat-image {
            @include background(url('../../../assets/pf-pic.jpg'));
            height: 4rem;
            min-height: 4rem;
            width: 4rem;
            min-width: 4rem;
            border-radius: 50%;
            z-index: 1;
            margin: 0 .5em;
        }
    
        &:last-of-type {
            margin-top: 0;

            button {
                width: calc(100% - 80px);
            }
        }
    }
}