<section class="chat-container">
    <div class="chat-content">
        <mat-card appearance="outlined" class="chat-card">
            <mat-card-content>
                <p *ngFor="let message of messages">{{ message }}</p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined" class="chat-image" pfTooltip [tooltipTemplate]="imageTooltipTemplate"></mat-card>
    </div>
    <div class="chat-content">
        <button mat-flat-button pfSubmenu [submenuTemplate]="submenuButtonTemplate">Send message</button>
    </div>
</section>

<ng-template #imageTooltipTemplate>
    <div class="tooltip-container">
        <mat-card appearance="outlined" class="tooltip-card">
            <mat-card-header>
                <mat-card-title>Dominik Dobry</mat-card-title>
                <!-- ToDo Title?-->
                <mat-card-subtitle>Agile coach</mat-card-subtitle>
            </mat-card-header>
            <div class="tooltip-image"></div>
        </mat-card>
    </div>
</ng-template>

<ng-template #submenuButtonTemplate>
    <!--ToDo Add href, styles & big btn styles?-->
    <div class="submenu-container">
        <a mat-mini-fab class="submenu-item">
            <mat-icon>mail</mat-icon>
        </a>
        <a mat-mini-fab class="submenu-item">
            <mat-icon>linkedin</mat-icon>
        </a>
    </div>
</ng-template>
