@import '../../../assets/mixins';

section.chat-container {
    @include flex(flex-start, flex-start, column);

    .chat-content {   
        @include flex(flex-start, flex-end, row, no-wrap);
        margin: 2.5rem;
        width: 50%;
    
        .chat-card {
            background-color: #ffffff80;
        }
    
        .chat-image {
            @include background(url('../../../assets/pf-pic.jpg'));
            height: 4rem;
            min-height: 4rem;
            width: 4rem;
            min-width: 4rem;
            border-radius: 50%;
            z-index: 1;
            margin: 0 .5em;
        }
    
        &:last-of-type {
            margin-top: 0;

            button {
                width: calc(100% - 80px);
            }
        }
    }
}

.tooltip-container .tooltip-card {
    overflow: hidden;

    .tooltip-image {
        @include background(url('../../../assets/pf-pic.jpg'), cover, 50% 45%);
        height: 300px;
        width: 325px;
        margin-top: .5rem;
    }
}

.submenu-container {
    position: relative;

    .submenu-item {
        position: absolute;

        &:first-of-type {
            top: -20px;
            left: -5px;
        }

        &:nth-of-type(2) {
            top: 25px;
            left: -15px;
        }
    }
}
