<section class="chat-container">
    <div class="chat-content">
        <mat-card appearance="outlined" class="chat-card">
            <mat-card-content>
                <p *ngFor="let message of messages">{{ message }}</p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined" class="chat-image" pfTooltip [tooltipTemplate]="imageTooltipTemplate"></mat-card>
    </div>
    <div class="chat-content">
        <button mat-flat-button [matMenuTriggerFor]="chatMenu">Send message</button>
        <!--ToDo Dialog instead of menu-->
        <mat-menu #chatMenu="matMenu">
            <button mat-menu-item>
                <mat-icon>mail</mat-icon>
                <span>Email</span>
            </button>
            <button mat-menu-item>
                <mat-icon>linkedin</mat-icon>
                <span>LinkedIn</span>
            </button>
        </mat-menu>
    </div>
</section>

<ng-template #imageTooltipTemplate>
    <div class="tooltip-container">
        <mat-card appearance="outlined" class="tooltip-card">
            <mat-card-header>
                <mat-card-title>Dominik Dobry</mat-card-title>
                <mat-card-subtitle>Agile coach</mat-card-subtitle>
            </mat-card-header>
            <div class="tooltip-image"></div>
        </mat-card>
    </div>
</ng-template>