<div class="recommendations-container">
  @if (recommendationTypes && recommendations && recommendations(); as recommendations) {
  <mat-card class="recommendations-content">
    @for (type of recommendationTypes(); track type) {
    <ng-container>
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ type }}</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
            <ul>
                @for (item of recommendations; track item.id) {
                  @if (type === item.type) {
                  <li>
                    <a [href]="item.link">
                      <img [alt]="item.title" [src]="item.img"/>
                      <p>
                        <span>{{ item.title }}</span>
                        <span>{{ item.author }}</span>
                      </p>
                    </a>
                  </li>
                  } 
                }
          </ul>
      </mat-card-content>
    </ng-container>
    }
  </mat-card>
  }
</div>
