<div class="recommendations-container">
  @if (recommendationTypes && recommendations && recommendations(); as recommendations) {
  <div class="recommendations-content">
    @for (type of recommendationTypes(); track type) {
    <div class="recommendations-content-type">
      <mat-card-subtitle class="type-title">{{ type }}</mat-card-subtitle>
        @for (item of recommendations; track item.id) {
          @if (type === item.type) {
            <a class="link" [href]="item.link" target="_blank">
              <mat-card class="recommendations-card">
                <mat-card-content class="recommendations-card-content">
                  <img [alt]="item.title" [src]="item.img" />
                  <div class="info">
                    <mat-card-title class="title">{{ item.title }}</mat-card-title>
                    <mat-card-subtitle class="subtitle">{{ item.author }}</mat-card-subtitle>
                  </div>
                </mat-card-content>
              </mat-card>
            </a>
            }
          }
      </div>
    }
  </div>
  }
</div>
