@import '../../../assets/mixins';

.recommendations-container {
    min-height: calc(100vh - 4 * $header-height);
    padding: 6rem 1rem 0 1rem;

    .recommendations-content {
        @include flex(center, flex-start);

        .recommendations-content-type {
            width: calc(50% - 4rem);

            &:first-of-type {
                margin-right: 1rem;
            }

            .type-title {
                padding: 0 .5rem;
            }

            .link {
                color: #1f1b15; // ToDo
                text-decoration: none;
            }

            .recommendations-card {
                @include mat-card-styles; 
                margin: 1rem 0;
    
                .header {
                    padding-bottom: 1rem;
                }
    
                .recommendations-card-content {
                    @include flex(flex-start, flex-start);
    
                    img {
                        height: 95px;
                        border-radius: $border-radius;
                        margin-right: 1rem;
                    }
                    
                    .info {
                        .title {
                            font-size: 1rem;
                        }
    
                        .subtitle {
                            font-size: .8rem;
                            font-weight: 400;
                        }
                    }
    
                }
    
                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border-radius: $border-radius;
                    @include transition-ease-in-out;
                }
    
                &:hover::after {
                    background-color: #0000001a;
                    @include transition-ease-in-out;
                }
            }

        }
    }
}
