<div class="about-me-container">
  @if (aboutMe && aboutMe(); as aboutMe) {
  <div class="about-me-content">

    <mat-card class="details-content">
      <mat-card-header class="header">
        <mat-card-title-group class="title-group">
          <mat-card-title>{{ aboutMe.title }}</mat-card-title>
          <mat-card-subtitle>{{ aboutMe.subtitle }}</mat-card-subtitle>
        </mat-card-title-group>
        <div mat-card-xl-image class="image"></div>
      </mat-card-header>
      <mat-card-content>{{ aboutMe.details }}</mat-card-content>
    </mat-card>

    <div class="additional-details-content">
      <pf-fris [fris]="aboutMe.fris"></pf-fris>
      <pf-gallup [gallup]="aboutMe.gallup"></pf-gallup>
    </div>
    
  </div>
  }
</div>
