@import '../../../assets/mixins';

.about-me-container {
    min-height: calc(100vh - 2 * $header-height);
    padding: 6rem 1rem 0 1rem;
    
    .about-me-content {
        @include flex(flex-start, flex-start);

        .details-content {
            @include mat-card-styles;
            width: calc(60% - 4rem);
            margin-right: 1rem;
    
            .header {
                flex-direction: row-reverse;
                padding-bottom: 1rem;;
    
                .title-group {
                    padding-left: 1rem;
                }
    
                .image {
                    @include background(url('../../../assets/pf-pic-square.jpg'));
                    border-radius: $border-radius;
                }
            }
        }

        .additional-details-content {
            width: calc(40% - 3rem);
            min-height: 100%;
        }
    }
}
