@import '../../../assets/mixins';

.about-me-container {
    padding: 6rem 1rem 0 1rem;

    .about-me-content {
        @include mat-card-styles;

        mat-card-header {
            flex-direction: row-reverse;

            mat-card-title-group {
                padding-left: 1rem;
            }

            .image {
                @include background(url('../../../assets/pf-pic-square.jpg'));
                border-radius: $border-radius;
            }
        }

        mat-card-content {
            padding-top: 1rem;
        }

        mat-accordion {
            padding: 1rem 0;
            mat-card-content {
                padding-top: 1rem;
            }
    
            mat-expansion-panel {
                background-color: transparent;
                border-radius: 0;
                box-shadow: none;
            }
        }
    }
}
