<header class="header-container">
    <mat-toolbar class="header-content">
        <div class="name">
            <a mat-icon-button [routerLink]="['/welcome']" aria-label="Home icon">
                <mat-icon>handshake</mat-icon>
            </a>
            <span>{{ name }}</span>
        </div>
        <div class="info">
            <nav>
                <ul>
                    <li>
                        <!-- ToDo Link to future html ids-->
                        <a mat-button>{{ navItem1 }}</a>
                    </li>
                    <li>
                        <a mat-button>{{ navItem2 }}</a>
                    </li>
                </ul>
            </nav>
            <mat-divider vertical></mat-divider>
            <pf-toggle-theme></pf-toggle-theme>
        </div>
    </mat-toolbar>
</header>
