@import '../../../assets/variables';
@import '../../../assets/mixins';

// ToDo MOBILE FIRST FOR WHOLE APP
.header-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;

    .header-content { 
        @include flex(space-between, center);
    
        .name {
            @include flex(space-between, center, row, nowrap);
            padding: 0 5px;
    
            span {
                font-size: .75em;
                font-weight: 700;
                text-transform: uppercase;
                padding: 0 5px;
            }
        }
    
        .info {
            @include flex(flex-end, center);
            height: 100%;
    
            nav {
                margin: 0 5px;
            }
    
            mat-divider {
                height: 50%;
                opacity: .5;
            }
        }
    }
}

.icon {
    height: 100%;
    width: 100%;
    border-radius: 50%;

    &.about-me {
        @include background(url('../../../assets/pf-pic.jpg'));
    }

    &.linkedin {
        @include background(url('../../../assets/linkedin-pic.png'));
    }
}
