@import '../../../assets/variables';

header mat-toolbar { // ToDo MOBILE FIRST
    @include flex(space-between, center);

    .name {
        @include flex(space-between, center, row, nowrap);

        span {
            font-size: .75em;
            font-weight: 700;
            text-transform: uppercase;
            padding: 0 5px;
        }
    }

    .info {
        @include flex(flex-end, center);
        height: 100%;

        nav ul {
            @include flex(space-between, center, row, nowrap);
            list-style-type: none;
            margin: 0 5px;
        }

        mat-divider {
            height: 50%;
            opacity: .5;
        }
    }
}
