@mixin flex($justify, $align, $direction: row, $wrap: wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin background($imageUrl, $size: cover, $position: center, $repeat: no-repeat) {
    background-image: $imageUrl;
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}

@mixin space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

@mixin mat-card-styles {
    background-color: #ffffffb3;
    border-radius: 4px;
    box-shadow: none;
    margin: 0 3rem;
}

@mixin sm {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin md {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin lg {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin xl {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin xxl {
    @media (min-width: 1400px) {
        @content;
    }
}
