#theme-dark {
    mat-card, footer mat-toolbar {
        background-color: #0000001a;
        color: #ebe1d7; //ToDo
    }

    .home-background {
        background-image: url('../assets/dark-background.png');
    }
}
