<div class="quote-container">
    @if (quote && quote(); as quote) {
    <blockquote class="quote-content">
        <p>
            <sup>
                <mat-icon aria-label="Quote icon" fontIcon="format_quote"></mat-icon>
            </sup>
            {{ quote.content }}
            <sup>
                <mat-icon aria-label="Quote icon" fontIcon="format_quote"></mat-icon>
            </sup>
        </p>
        @if (quote.author) { 
        <footer>{{ quote.author }}</footer>
        }
    </blockquote>
    }
</div>
