<section>
    <div class="container">
        <blockquote>
            <p>
                <sup>
                    <mat-icon aria-hidden="true" aria-label="Quote icon" fontIcon="format_quote"></mat-icon>
                </sup>
                &nbsp;{{ quote }}&nbsp;
                <sup>
                    <mat-icon aria-hidden="true" aria-label="Quote icon" fontIcon="format_quote"></mat-icon>
                </sup>
            </p>
            <footer>{{ author }}</footer>
        </blockquote>
    </div>
</section>
