@import '../../assets/variables.scss';

section {
    width: 100vw;
    
    
    .container {   
        @include flex(center, center);
        @include background(url('../../assets/pic-theme.JPG')); // ToDo Add fallback background color
        height: calc(100vh - 64px); //ToDo Should I remove heder height?
        color: #fff; // ToDo NOT WHITE
        font-size: 1.2rem;

        
        blockquote {
            @include flex(center, flex-end, column);
        }

        @include md {
            background-size: contain;
            background-position: right;
        }
    }

}
